body {
  font-family: "Fira Sans Condensed", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-black;
}

a,
a:hover {
  color: inherit;
  text-decoration-line: none;
}
