// COLORS
$color-primary-light: #0366d6;
$color-primary-dark: #24292e;
$color-primary-theme: #f5f5f5;
$color-warning: #d35454;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;
