/*Auto prefixer*/
/*
 * Mixin printing a linear-gradient
 * as well as a plain color fallback
 * and the `-webkit-` prefixed declaration
 * @access public
 * @param {Keyword | Angle} $direction - Linear gradient direction
 * @param {Arglist} $color-stops - List of color-stops composing the gradient
 *
 * @see https://www.sitepoint.com/building-linear-gradient-mixin-sass/
 */
/*example: @include vp-flex-flow(row wrap);*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #f5f5f5;
  min-height: 100%; }

body {
  font-family: "Fira Sans Condensed", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #000; }

a,
a:hover {
  color: inherit;
  text-decoration-line: none; }

/***********************Button style**********************/
.input__button {
  width: 15rem;
  height: 5rem;
  background-color: #0366d6;
  color: #fff;
  font-size: 3rem;
  font-weight: 100;
  border-radius: 1rem;
  margin: 3rem;
  outline: none;
  border-style: none; }
  .input__button--back {
    margin-bottom: 0rem; }

@media only screen and (max-width: 600px) {
  .input__button {
    font-size: 2rem;
    width: 60%;
    height: 4rem; }
    .input__button--back {
      margin-bottom: 0rem; } }

.progress {
  width: 100%;
  margin: 0 auto;
  padding: 5% 10%; }
  .progress__value {
    text-align: center; }
  .progress__bar {
    width: 100%;
    background-color: #24292e;
    border-radius: 1rem; }
  .progress__indicator {
    width: 50%;
    height: 30px;
    background-color: #0366d6;
    border-radius: 1rem; }

.input {
  padding: 0% 10%;
  color: #000; }
  .input__holder {
    background-color: #fff;
    width: 100%;
    border-radius: 1rem;
    box-shadow: -1px 1px 8px -2px rgba(0, 0, 0, 0.75);
    text-align: center;
    padding: 0; }
  .input__title {
    font-weight: 300;
    font-size: 4rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #eee; }
  .input__field--text {
    width: 80%;
    height: 4rem;
    font-size: 3rem;
    text-align: center;
    border-radius: 1rem;
    background-color: #fff;
    border-style: none;
    border: 1px solid #0366d6; }
  .input__field--select {
    width: 80%;
    height: 4rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 1rem;
    background-color: #fff;
    border-style: none;
    border: 1px solid #0366d6; }
  .input__field--list {
    list-style: none;
    font-size: 3rem;
    text-align: center; }
  .input__field-radio--holder {
    position: relative;
    text-align: left;
    width: 20%;
    margin: 0 auto; }
  .input__field--label {
    margin-left: 5rem; }

input[type="radio"] {
  display: none; }

.radio {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 1rem;
  left: 1rem;
  border-radius: 3rem; }
  .radio__unchecked {
    background-color: #fff;
    border: 4px solid #0366d6; }
  .radio__checked {
    background-color: #24292e;
    border: 4px solid #0366d6; }

@media only screen and (max-width: 600px) {
  .input__title {
    font-size: 3rem;
    padding: 5%; }
  .input__field--list {
    list-style: none;
    font-size: 2rem; }
  .input__field-radio--holder {
    position: relative;
    text-align: center;
    width: 10%; }
  .input__field--label {
    margin: 0; }
  .radio {
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: 0.7rem;
    left: 0rem;
    margin-left: -3rem; } }

.summary {
  width: 80%;
  background-color: #fff;
  box-shadow: -1px 1px 8px -2px rgba(0, 0, 0, 0.75);
  border-radius: 1rem;
  margin: 0 auto 5rem auto;
  text-align: center; }
  .summary__heading {
    font-size: 4rem;
    font-weight: 500;
    border-bottom: 1px solid #eee; }
  .summary__list-item {
    border-bottom: 1px solid #eee;
    list-style: none;
    padding: 1rem; }
  .summary__list-item--ques {
    font-size: 3rem;
    font-weight: 100; }
  .summary__list-item--ans {
    font-size: 3rem;
    font-weight: 500;
    color: #0366d6; }

@media only screen and (max-width: 600px) {
  .summary__heading {
    font-size: 3rem;
    padding: 5%; }
  .summary__list-item--ques {
    font-size: 2rem; }
  .summary__list-item--ans {
    font-size: 2rem; } }
