/***********************Button style**********************/

.input__button {
  width: 15rem;
  height: 5rem;
  background-color: $color-primary-light;
  color: $color-white;
  font-size: 3rem;
  font-weight: 100;
  border-radius: 1rem;
  margin: 3rem;
  outline: none;
  border-style: none;
  &--back {
    margin-bottom: 0rem;
  }
}

@media only screen and (max-width: 600px) {
  .input {
    &__button {
      font-size: 2rem;
      width: 60%;
      height: 4rem;
      &--back {
        margin-bottom: 0rem;
      }
    }
  }
}
